@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Montserrat-Bold";
    font-weight: 700;
    font-style: normal;
    src: url("../public/fonts/Montserrat-Bold.woff") format("woff");
  }
  @font-face {
    font-family: "Montserrat-SemiBold";
    font-weight: 600;
    font-style: normal;
    src: url("../public/fonts/Montserrat-SemiBold.woff") format("woff");
  }
  @font-face {
    font-family: "Montserrat-Medium";
    font-weight: 500;
    font-style: normal;
    src: url("../public/fonts/Montserrat-Medium.woff") format("woff");
  }
  @font-face {
    font-family: "Montserrat-Regular";
    font-weight: 400;
    font-style: normal;
    src: url("../public/fonts/Montserrat-Regular.woff") format("woff");
  }
  @font-face {
    font-family: "Montserrat-Italic";
    font-weight: 400;
    font-style: Italic;
    src: url("../public/fonts/Montserrat-Italic.woff") format("woff");
  }
}
